* {
  box-sizing: border-box;
}

body {
  background: #c3cbe2;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  margin: 0;
}

a {
  color: #204ed3;
}

h1,
h2 {
  margin-top: 0;
}

.login-form input,
.form input {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 5px;
}

.form textarea {
  display: block;
  margin: 10px 0;
  padding: 5px;
}

.header {
  background: #ffffb2;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.menu a {
  text-decoration: none;
  margin: 0 10px;
  text-transform: uppercase;
}

.wrapper {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}

.generate-thumbnail,
.json-patch,
.login-form {
  background: #f0f7ff;
  padding: 50px;
  border-radius: 5px;
}

/* Show the thumbnail image  */

.image-area {
  margin: 10px 0;
}

/* Login form  */

.login-form {
}
